body{
    background: Khaki;
}
html{
    font-size: 16px;
    line-height: 1.5;
    font-family: "Helvetica Neue", Helvetica, arial, sans-serif;
    color: #111;
    padding: 24px 24px 0;
}
::-moz-selection{
    background: #e85e00;
    color: #fff;
    text-shadow: none;
}
::selection{
    background: #e85e00;
    color: white;
    text-shadow: none;
}
img{
    max-width: 100%;
    vertical-align: top;
}
h1 {
    font-family: "Times New Roman", Serif;
    font-size: 36px;
    font-weight: normal;
    line-height: 40px;
    margin: 0 0 48px;
}

h2 {

}

h3 {

}

h4,
h5,
h6 {

}

p,
ol,
ul,
dl,
table,
address,
figure {

}

ul,
ol,
blockquote {

}

li ul,
li ol{

}

blockquote {

}

figcaption {

}

hr {

}

a {

}

a:hover,
a:focus {

}

a:visited,
a:active {

}
