body{
    background: Khaki;
}
html{
    font-size: 16px;
    line-height: 1.5;
    font-family: "Helvetica Neue", Helvetica, arial, sans-serif;
    color: #111;
    padding: 24px 24px 0;
}
::-moz-selection{
    background: #e85e00;
    color: #fff;
    text-shadow: none;
}
::selection{
    background: #e85e00;
    color: white;
    text-shadow: none;
}
img{
    max-width: 100%;
    vertical-align: top;
}
h1 {
    font-family: "Times New Roman", Serif;
    font-size: 36px;
    font-weight: normal;
    line-height: 40px;
    margin: 0 0 48px;
}

h2 {
    font-size: 32px;
    line-height: 32px;
    margin: 0 0 24px;
}

h3 {
    font-size:18px;
    line-height: 24px;
    margin: 0 0 24px;
}

h4,
h5,
h6 {
    font-size:16px;
    line-height: 24px;
    margin: 0 0 24px;
}

p,
ol,
ul,
dl,
table,
address,
figure {
    margin: 0 0 24px;
}

ul,
ol{
    padding-left:24px;
}
blockquote {
    font-style: italic;
    font-size: 23px;
    line-height: 32px;
    margin: 0 0 24px;
    font-family: "Times New Roman", serif;
}

li ul,
li ol{
    margin-bottom:0;
}

blockquote * {
    line-height: inherit;
    font-size: inherit;
}

figcaption {
    font-size: 12px;
    line-height: 16px;
    padding-top:8px;
    color:grey;
}

hr {

}

a {

}

a:hover,
a:focus {

}

a:visited,
a:active {

}
